div.page-content {
  background-image: url(/assets/finish-bg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

p {
  width: 600px;
}

table {
  position: absolute;
  bottom: 50px;
}
caption {
  font-size: small;
  text-decoration: underline;
}
td,
th {
  padding: 5px 50px 0;
  text-align: center;
}
th {
  font-size: 28px;
}
