div.page-content {
  background-image: url(./../assets/finish-bg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div.wait {
  font-size: 56px;
  margin-bottom: 50px;
}

div.text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

table {
  margin-top: 50px;
}

caption {
  font-size: small;
  text-decoration: underline;
}
td,
th {
  padding: 5px 50px 0;
  text-align: center;
}
th {
  font-size: 28px;
}
