div.page-content {
  background-image: url("./../assets/earth-room-wood.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
p {
  text-align: center;
  padding: 10px 0;
}

h1 {
  font-size: 3vw;
  padding: 0 250px;
}

p,
span.hint-text {
  font-size: 1.5vw;
}

span.hint-text {
  text-shadow: 2px 2px 3px black;
}

/* GROUP CONTAINER - [.elevated > global-styles.css] - HOLDS "CARDS" */

#fib-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50vh;
  border-radius: 20px;
  align-items: center;
}

.fib-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 123px;
  max-width: 198px;
  height: 80%;
  justify-content: center;
  align-items: center;
  background-color: rgba(137, 109, 80);
  border-radius: 20px;
  margin: 20px;
}

/* NUMBER CONTENT */

.fib-number-content {
  display: flex;
  width: 90%;
  height: 40%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

/* PLUS / MINUS BUTTONS */

.fib-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 90%;
}

.fib-number-content,
.fib-icons {
  background-color: rgba(182, 146, 108);
  box-shadow: inset 5px 5px 5px black;
  text-shadow: 2px 2px 3px black;
}

.fib-icons > button {
  display: flex;
  margin: 5px;
  align-items: center;
  border: none;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.fib-icons i {
  font-size: 4vh;
}

/* POST PUZZLE */
div.reward-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reward-Item {
  font-size: 60px;
  color: limegreen;
  padding-bottom: 20px;
}

.grab-leaf-message {
  width: 70%;
  text-align: center;
  font-size: 24px;
}
