body {
  background-image: url("../assets/water-room-sewer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.page-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.water-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: white;
  font-family: "Cinzel Decorative", Geneva, Tahoma, sans-serif;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

div.water-title,
p {
  width: 80%;
}

div.main-contain {
  width: 80%;
}
.liq-container {
  display: flex;
  border: 5px solid white;
  flex-direction: column-reverse;
  width: 100px;
  height: 500px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 100%;
}

.liq-container.selected {
  border: 5px solid red;
}

.liq-puz-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 600px;
  width: 100%;
  border-radius: 20px;
  background-color: black;
  opacity: 80%;
}

.bottom {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.liq-red {
  display: inline-flex;
  width: 98px;
  height: 125px;
  background-color: red;
  border: 2px dashed darkred;
}

.liq-green {
  display: inline-flex;
  width: 98px;
  height: 125px;
  background-color: darkgreen;
  border: 2px dashed rgb(0, 50, 0);
}

.liq-blue {
  display: inline-flex;
  width: 98px;
  height: 125px;
  background-color: blue;
  border: 2px dashed rgb(0, 0, 75);
}

/* POST PUZZLE */
div.reward-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reward-Item {
  display: flex;
  font-size: 60px;
  color: deepskyblue;
  padding-bottom: 20px;
  text-shadow: 2px 2px 5px black;
}

.grab-water-message {
  width: 600px;
  text-align: center;
  font-size: 24px;
  color: white;
}
