div.blank-room {
  background-image: url(/assets/blank-room-bg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: snow;
}

/* HALFWAY HINT ROOM */

.text-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.hint {
  font-size: 32px;
}
.quote {
  font-size: 24px;
}
.quote-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ELEMENTS ROOM */

div.inv-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* DEAD END */

div.dead-end {
  background-image: url(/assets/dead-end-bg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: snow;
}

.dead-text {
  font-size: 64px;
}
