/* GLOBAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

h1,
h2 {
  font-family: "Cinzel Decorative", Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 3px black;
}

p {
  font-family: "Libre Baskerville", Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Cinzel Decorative", Geneva, Tahoma, sans-serif;
}

p {
  font-family: "Libre Baskerville", Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Cinzel Decorative", Geneva, Tahoma, sans-serif;
}

p {
  font-family: "Libre Baskerville", Geneva, Tahoma, sans-serif;
}

.elevated-container {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.elevated {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

img {
  border-radius: 10px;
}

/* RETURN TO THE LABYRINTH BUTTON */

.return-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: fixed;
  margin: 20px;
  border: 1px solid black;
  width: 100px;
  height: 70px;
  font-size: 16px;
}

.return-button > span {
  text-align: center;
  font-size: 16px;
}

/* FOOTER */

footer {
  background-color: #bbb;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: -2px -5px 10px rgba(0, 0, 0, 0.5);
}

#item-inventory {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  margin: 10px 0;
}

#item-inventory i {
  cursor: pointer;
}

div.item {
  width: 60px;
  height: 60px;
  font-size: 60px;
  text-align: center;
  color: #ccc;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

div.item.active {
  color: #fff;
}

.difficulty-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  margin: 10px;
}

.difficulty-mode {
  height: auto;
  width: auto;
  text-align: end;
  text-transform: uppercase;
  font-size: 32px;
}

/* #easy {
  display: none;
}

#medium {
  display: none;
} */

/* INDEX PAGE */

div#index-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: darkslategrey;
  color: white;
}

div.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

div.index-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
}

button.difficulty-button {
  width: 80px;
  height: 40px;
  border-radius: 15px;
}

button#easy {
  background-color: lime;
}

button#medium {
  background-color: yellow;
}

button#hard {
  background-color: crimson;
}

button#start {
  width: 100px;
  height: 50px;
  border-radius: 15px;
}
