div.key-hint {
  background-image: url(/assets/key-hint-bg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: snow;
}

.text-container > div {
  font-size: 18px;
  padding: 5px;
}
