.map-grid {
  display: grid;
  margin-top: 20px;
  margin-left: 17px;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-auto-columns: max-content;
  gap: 0px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 250px;
}

.room {
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 50px;
  height: 50px;
}

.not-visited-room {
  background-color: black;
}

.current-room {
  background-color: red;
}
.blank-room {
  background-color: darkkhaki;
}

.puzzle-room {
  background-color: seagreen;
}

.hint-room {
  background-color: lightseagreen;
}

.key-room {
  background-color: goldenrod;
}
.start-room {
  background-color: green;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#legend {
  margin-left: 20px;
  width: 250px;
  height: 180px;
  gap: 0px;
}

#legend-row-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.legend-title {
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  gap: 0;
}

.legend-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.legend-color {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 10px;
  border: 1px solid black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#lightseagreen {
  background-color: lightseagreen;
}

#seagreen {
  background-color: seagreen;
}

#darkkhaki {
  background-color: darkkhaki;
}

#goldenrod {
  background-color: goldenrod;
}
