div.room {
  background-image: url("./../assets/start-room-bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: snow;
}

.hidden {
  display: none;
}

#panel {
  display: flex;
  width: 70%;
  height: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#popup {
  width: 70%;
  height: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.7);
  border: 5px solid rgb(224, 220, 220);
  border-radius: 20px;
}

div.popup-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

div.instruction-break {
  display: flex;
  flex-direction: column;
}
div.icon-container {
  display: flex;
}
div.panel {
  height: 100%;
}
h1,
h2,
.center,
.panel > div {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.icon-instruction {
  padding: 0 20px;
  font-size: 50px;
}

p.just-left {
  padding: 0 30px;
}

span.easy {
  color: limegreen;
}
span.hard {
  color: crimson;
}
span.easy,
span.hard {
  padding: 0 10px;
}

button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(184, 182, 182);
}

button:hover {
  background-color: rgb(222, 222, 222);
}

.popup-controls {
  height: 20%;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#backBtn {
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(184, 182, 182);
}

#nextBtn {
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(184, 182, 182);
}

#backBtn:hover,
#nextBtn:hover {
  background-color: snow;
}
